.login-form {
    display: block;
}
.login-form-group {
    margin: 25px 0px;
}

.login-form-group .login-form-label {
    width: 200px;
    color: #fff;
    display: inline-block;
}
.login-form-group .login-form-label.invalid {
    color: #ff2b2b;
}
.login-form input {
    padding: 15px;
    color: #333;
    border-radius: 0px;
    border: 1px solid #fff;
    box-shadow: 2px 2px 4px #333;
    min-width: 320px;
}
.login-form input.invalid {
    color: #333;
    border-radius: 0px;
    border-color: #ff2b2b;
    background: #ffd0d0;
}
.login-form button {
    margin: 0 0 0 auto;
    padding: 10px 25px;
    width: 240px;
    border: 1px solid #cbcacc;
    background-color: #40005d;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    right: 0;
    display: block;
}
.login-form button.unactive {
    background-color: #4b4b4b;
}

/*invalid*/
.login-form-group.invalid .login-form-label {
    color: red;
}
.login-form-group.invalid input {
    background: #ffbcbc;
}