form.new-expense-form {
    display: inline-flex;
    padding: 15px;
}
.new-expense-form button {
    margin: 0 15px;
    padding: 10px 25px;
    border: 1px solid #cbcacc;
    background-color: #40005d;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
