form.new-expense-form {
    display: inline-flex;
    padding: 15px;
}
.new-expense-form-group {
    margin: 0px 10px;
}

.new-expense-form-group .new-expense-label {
    margin-right: 8px;
    color: #fff;
}
.new-expense-form-group input {
    padding: 15px;
    color: #333;
    border-radius: 0px;
    border: 1px solid #fff;
    box-shadow: 2px 2px 4px #333;
    min-width: 180px;
}
.new-expense-form button {
    margin: 0 15px;
    padding: 10px 25px;
    border: 1px solid #cbcacc;
    background-color: #40005d;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}